{% extends "base.html" %}

{% block content %}

<h1 class="page-title mb-4">
    ♟ Chess Tournament Manager
</h1>

<div class="card p-4">

    <div class="d-flex justify-content-between align-items-center mb-4">

        <h3>Existing Tournaments</h3>

        <a href="{{ url_for('tournament.setup') }}"
           class="btn btn-success">

            ➕ Create New Tournament

        </a>

    </div>

    {% if tournaments %}

        {% for tournament in tournaments %}

        <div class="card p-3 mb-3">

            <div class="row align-items-center">

                <div class="col-md-8">

                    <h4>{{ tournament.name }}</h4>

                    <p class="mb-1">
                        Status :
                        {{ tournament.status }}
                    </p>

                    <p class="mb-0">
                        Round
                        {{ tournament.current_round }}
                        /
                        {{ tournament.total_rounds }}
                    </p>

                </div>

                <div class="col-md-4 text-end">

                    <a
                        href="{{ url_for('tournament.tournament_dashboard',
                        tournament_id=tournament.id) }}"
                        class="btn btn-primary">

                        Continue

                    </a>
                     <a
        href="{{ url_for('tournament.delete_tournament',
        tournament_id=tournament.id) }}"
        class="btn btn-danger">

        Delete

    </a>

                </div>

            </div>

        </div>

        {% endfor %}

    {% else %}

        <div class="text-center py-5">

            <h4>No tournaments yet</h4>

            <p>Create your first tournament.</p>

        </div>

    {% endif %}

</div>

{% endblock %}